h4.name {
    border-radius: 5px;
    padding: 2px 10px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.prettyprint {
    width: auto;
    border-radius: 5px;
}

.prettyprint code {
    padding: 10px 12px;
}

code {
    border-radius: 3px;
    padding: 2px 4px;
    background-color: lightgrey;
}

table.params th:first-child,
table.props th:first-child {
    border-top-left-radius: 3px;
}

table.params th:last-child,
table.props th:last-child {
    border-top-right-radius: 3px;
}

table.params th,
table.props th {
    border: none;
    border-right: 1px solid #F5F5F5;
}

table.params th,
table.props th {
    font-family: 'Verdana';
    font-weight: normal;
}

table.params th {
    background-color: LightGrey;
}
